.sideTab {
   
    height: 90%;
    width: 400px;
    margin-top: 25px; 
    background-color: rgba(255, 255, 255, 0.9); 
    border: none;
    color: black;
    z-index: 1000;
    overflow-y: scroll;
    p {
        margin: 0px;
      }
  }

  .sideBtn {
    width: 360px;
    height: 40px;
    font-size: 25px;
    text-align: left;
    @include flexButton();
    button {
        display: flex;
        align-self: baseline;
        justify-content: center;
        margin-top:5px; 
        height: 30px;
        width: 60px;
        font-size:18px;
        margin-right: 5px;
        float:right;
        background-color: $menuBtnColor;
        border: none;
        color: rgb(245, 245, 245);
      }
    button:hover:enabled {
        box-shadow: 0 7px 15px $menuBtnColorHover;
        color: white;
      }
  }

  .sideBtnSmall {
    width: 360px;
    height: 40px;
    font-size: 20px;
    text-align: left;
    @include flexButton();
    button {
        align-self: baseline;
        
        margin-top:5px; 
        height: 30px;
        width: 60px;
        font-size:18px;
        margin-right: 5px;
        background-color: $menuBtnColor;
        border: none;
        color: rgb(245, 245, 245);
      }
    button:hover {
        box-shadow: 0 7px 15px $menuBtnColorHover;
        color: white;
      }
  }