body {
  background-color: black;
  background-image: url('../src/img/computer-3163437.png');
  
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-position: left top;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

canvas {
  width: 400px;
  height: 800px;
  background-color: gray;
  position: relative;
  border: 1px solid black;
}
button {
  position: relative;
}
.canvasBlock {
  float: left;
}

.buttonsBlock {
  position: relative;
}

.BackCanvas {
  position: relative;
  background: none;
  background-color: gray;
}

.FrontCanvas {
  position: absolute;
  z-index: 2000;
  background: none;
}
.SideCanvas {
  float: center;
  height: 80px;
  width: 400px;
}
.sideBlock {
  float:left;
}

.main {
  margin-top: 30px;
 margin-left:10px;
 position: static;
 float: left;
 width: 850px;
 padding-left: 20px;
}
.wrap {
 position: static;
}
.sideWrap {
 margin-left:420px;
 
 position: static;
}

.loginForm {
  position: absolute;
  padding-top: 100px;
  top: 40%;
  left: 50%;
  width: 400px;
  height: 220px;
  margin: -150px 0 0 -200px;
  font-size: 30px;
  border: solid 5px rgba(217, 253, 220, 0.788);
  border-radius: 10px;
  background-color: white;
}
.loginForm input {
  border: none;
  border-bottom: solid 3px gray;
  width: 300px;
  height: 35px;
  font-size: 22px;
  text-align: center;
}

.userInfo {
  height: 50px;
  font-size: 30px;
  background-color: white;
  padding-left: 100px;
  position: static;
}

.userInfo button {
  height: 35px;
  width: 120px;
  font-size: 25px;
  background-color: rgb(228, 182, 182);
  border: solid 3px red;
  border-radius: 3px;
  float: right;
  margin-top: 5px;
  margin-right: 10px;
}

.sideTab {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 150px;
  position: absolute;
  background-color: navy; 
  border-right: solid 3px dodgerblue;
  color: white;
}

.sideBtn {
  width: 100%;
  height: 30px;
  font-size: 20px;
  text-align: center;
  border: solid 2px rgb(0, 140, 205);
}

.sideBtn:hover{
  border: solid 2px salmon;
}


.request {
 width:200px;
 height:70px;
 background-color: white;
 margin-left: 40%;
 margin-top: 40px;
 border: solid 3px green;
 border-radius: 3px;
 font-size: 14px
}
.request button {
  margin-top: 10px;
  border: solid 3px green;
 border-radius: 3px;
 height: 25px;
}
.request button:hover {
  border: solid 3px greenyellow;
 
}

.startBtn {
  
  border: solid 4px seagreen;
  background-color: darkseagreen;
  height: 50px;
  font-size: 30px;
  text-align: center;
  border-radius: 5px;
  margin-top: 10px;
}
.score {
  width: 200px;
  height: 95px;
  background-color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  border: solid 3px orange;
  background-color: yellow;
  border-radius: 3px; 
}

.resetBtn {
  
}

.canvas1 {
  position: fixed;
  margin-left: 650px;
  margin-top: 0px;
 }

.canvas2 {
 position: fixed;
 margin-left: 900px;
 margin-top: 0px;
}
.canvas3 {
  position: fixed;
 margin-left: 1150px;
 margin-top: 0px;
}
.canvas4 {
  position: fixed;
 margin-left: 400px;
 margin-top: 0px;
}

.popupOpen {
  position: fixed;
  height: 100px;
  width: 200px;
  background-color: white;
  z-index: 2000;
  margin-left: 200px;
  
  margin-top: 20px;
  border: solid lime 3px;
  border-radius: 3px;
}

.popupOpen button {
  margin-right: 5px;
  margin-top: 5px;
  margin-left: 140px;
  background-color: darksalmon;
  border: solid lightcoral 2px;
}

.popupClosed {
  display: none;
}

.inviteBtn {
  width: 100%;
  border: solid 2px green;
  font-size: 20px;
  background-color: palegreen;
}

.gameSetup {
  position: fixed;
  width: 800px;
  left: 50%;
  margin-left: -400px; 
  height: 600px;
  margin-top: 100px;
  background-color: rgba(217, 250, 209, 0.911);
  border: solid lightgreen 4px;
  border-radius: 3px;
  font-size: 25px;
}

.gameSetup button {
  border: solid 3px rgb(245, 212, 140);
  font-size: 25px;
  background-color: rgb(255, 251, 0);
  border-radius: 3px;
  height: 40px;
}

.gameSetup button:hover {
  background-color: rgb(255, 187, 0);
}

.infoTable td{
  margin: 15px;
}

.rightTD {
  background-color: orange;
  border-radius: 10px;
  width: 150px;
  font-size: 17px;
}

